<header class="header" style="background-color: royalblue; color: aliceblue">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/register">Register</a></li>
  </ul>
</header>
