<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>main page</title>
  </head>
  <body>
    <h1>Hello! Express!</h1>
    <p>안녕하세용~</p>
    <% for (let i=0; i<5; i++) { %>
    <div>배고팡ㅠㅠ</div>
    <% } %>
  </body>
</html>
