<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>register</title>
  </head>
  <style>
    #RegisterForm {
        width: 200px;
        height: 200px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
      }

      div {
        width: 300px;
        height: 300px;
        border: 1px solid lightblue;

        border-radius: 10px;
        margin: 0 auto;
        text-align: center;
      }

      input {
        margin-top: 10px;
      }

      .input {
        background-color: lightblue;
      }

      h1 {
        color: lightblue;
      }
    </style>
    <%- include('./includes/head', {title: '회원가입'}) %>
  </head>
  <body>
    <%- include('./includes/header') %>
    <div>
      <form method="post" id="registerForm">
        <h1>Register</h1>
        <input type="text" name="userName" placeholder="Email" />
        <input type="password" name="userPassword" placeholder="Password" />
        <input type="text" name="userPassword" placeholder="Name" />
        <input type="text" name="userPassword" placeholder="Birth" />
      </form>
      <button type="button" class="btn btn-primary">ok</button>
    </div>
  </div>
</html>
