<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>socket.io 채팅</title>
    <!-- cdn -->
    <script src="/socket.io/socket.io.js"></script>
    <style>
      .chat-box {
        width: 400px;
        height: 500px;
        background-color: #f3f3f3;
        border-radius: 15px;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .chat-list {
        padding: 10px;
        overflow-y: auto;
      }

      .chat-list p {
        text-align: center;
        color: darkblue;
        font-size: small;
        font-style: italic;
      }

      .my-chat {
        align-items: flex-end;
      }

      .other-chat {
        align-items: flex-start;
      }

      .my-chat,
      .other-chat {
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
      }

      .my-chat div {
        background-color: rgb(5, 115, 193);
        color: #fff;
        padding: 10px;
        border-radius: 10px 10px 0 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        word-wrap: break-word;
        margin-bottom: 10px;
        max-width: 70%;
      }

      .other-chat div {
        background-color: #fff;
        padding: 10px;
        border-radius: 10px 10px 10px 0;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        word-wrap: break-word;
        margin-bottom: 10px;
        max-width: 70%;
      }

      .send-box {
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .sendInput {
        border: none;
        height: 30px;
        width: 50%;
        margin-right: 10px;
        border-radius: 5px;
      }

      .sendBtn {
        border: none;
        width: 15%;
        height: 32px;
        border-radius: 5px;
        background-color: rgb(255, 191, 28);
        font-weight: bold;
      }

      .d-none {
        display: none;
      }
    </style>
  </head>
  <body>
    <h1>My Chat</h1>

    <!-- [실습1] 각 버튼 누를 때 마다 서버로 메세지 보내기 -->
    <!-- <button onclick="sayHello()">HELLO</button>
    <button onclick="sayStudy()">STUDY</button>
    <button onclick="sayBye()">BYE</button>
    <p id="form-server"></p> -->

    <!-- [실습3-2] 닉네입 입력 폼 -->
    <div class="entry-box">
      <input
        type="text"
        id="nickname"
        placeholder="닉네임"
        autofocus
        onkeypress="if(window.event.keyCode==13){join()}"
      />
      <button type="button" onclick="join();">입장</button>
    </div>

    <!-- [실습2] 채팅 UI -->
    <main class="chat-box d-none">
      <div class="chat-list">
        <!-- 임시 대화 데이터 -->
        <!-- <div class="my-chat">
          <div>
            user1: msgsssssssssssssssssssssssssssssssssssssssssssssssssssss1
          </div>
          <div>user1: msg2</div>
        </div>
        <div class="other-chat">
          <div>user2: msg2</div>
        </div> -->
      </div>

      <!-- 메세지 전송 영역 -->
      <div class="send-box">
        <select id="nick-list"></select
        >에게

        <input
          type="text"
          class="sendInput"
          id="message"
          placeholder="메시지를 입력하세요."
          onkeypress="if(window.event.keyCode==13){send()}"
        />
        <button type="button" class="sendBtn" onclick="send();">전송</button>
      </div>
    </main>

    <script>
      let socket = io.connect(); // 소켓 사용을 위한 객체 생성

      socket.on('connect', () => {
        console.log('클라이언트 연결 완료 :: ', socket.id);
      });

      // [실습1]
      // function sayHello() {
      //   socket.emit('hello', { who: 'client', msg: 'hello' });
      // }
      // socket.on('helloKr', (data) => {
      //   console.log(`${data.who}: ${data.msg}`);
      //   document.querySelector(
      //     '#form-server'
      //   ).textContent = `${data.who}: ${data.msg}`;
      // });

      // function sayStudy() {
      //   socket.emit('study', { who: 'client', msg: 'study' });
      // }
      // socket.on('studyKr', (data) => {
      //   console.log(`${data.who}: ${data.msg}`);
      //   document.querySelector(
      //     '#form-server'
      //   ).textContent = `${data.who}: ${data.msg}`;
      // });

      // function sayBye() {
      //   socket.emit('bye', { who: 'client', msg: 'bye' });
      // }
      // socket.on('byeKr', (data) => {
      //   console.log(`${data.who}: ${data.msg}`);
      //   document.querySelector(
      //     '#form-server'
      //   ).textContent = `${data.who}: ${data.msg}`;
      // });

      // [실습3] 채팅창 입장 문구
      socket.on('notice', (msg) => {
        // socket.emit('notice', `${socket.id}님이 입장하셨습니다.`);
        document
          .querySelector('.chat-list')
          .insertAdjacentHTML('beforeend', `<p>${msg}</p>`);
      });

      // [실습3-2] 채팅창 입장 문구 socket.id -> nickname
      function join() {
        socket.emit('setNick', document.querySelector('#nickname').value);
      }

      // [실습3-2] 채팅창 입장 문구 socket.id -> nickname
      // 닉네임 중복: alert 띄우기
      socket.on('error', (data) => {
        alert(data);
      });

      // [실습3-2] 채팅창 입장 문구 socket.id -> nickname
      // 입장 성공: 닉네임 입력창 비활성화
      socket.on('entrySuccess', (nick) => {
        myNick = nick; // 닉네임 저장
        document.querySelector('#nickname').disabled = true; // 인풋 비활성화
        document.querySelector('.entry-box > button').disabled = true; // 버튼 비활성화
        document.querySelector('.chat-box').classList.remove('d-none'); // 채팅창 보이기
        document.querySelector('.entry-box').classList.add('d-none'); // 닉네임 설정 안보이기
      });

      // [실습3-2] 채팅창 입장 문구 socket.id -> nickname
      // 유저 목록 업데이트 (select 박스의 태그 개수 변경)
      socket.on('updateNicks', (nickObj) => {
        // nickObj: {socket.id: nick1, socket.id: nick2, ...}

        let options = `<option value = "all">전체</option>`;

        // TODO: nickObj 반복 돌아서 option 태그 추가
        // option 태그의 value 속성 값는 socket.id, option태그의 컨텐츠는 nick 값
        for (const socketId in nickObj) {
          console.log(socketId);
          if (nickObj.hasOwnProperty(socketId)) {
            options += `<option value="${socketId}">${nickObj[socketId]}</option>`;
          }
        }

        document.querySelector('#nick-list').innerHTML = options;
      });

      // [실습 4] 채팅창 메세지 전송 Step 1
      // "send" 이벤트 전송 { 닉네임, 입력창 내용 }
      function send() {
        socket.emit('send', {
          nick: myNick,
          msg: document.querySelector('.sendInput').value,
        });
        document.querySelector('.sendInput').value = '';
        window.setTimeout(scroll, 50);
      }
      // newMessage 이벤트를 받아서 { 닉네임, 입력창 내용 }
      // 내가 보낸 메세지: 오른쪽
      // 다른 사람이 보낸 메세지: 왼쪽
      socket.on('sendMsg', (data) => {
        console.log(data);
        if (data.nick === myNick) {
          document.querySelector('.chat-list').insertAdjacentHTML(
            'beforeend',
            `<div class="my-chat">
                <div>${data.nick} : ${data.msg}</div>
              </div>`
          );
        } else {
          document.querySelector('.chat-list').insertAdjacentHTML(
            'beforeend',
            `<div class="other-chat">
                <div>${data.nick} : ${data.msg}</div>
              </div>`
          );
        }
      });

      function scroll() {
        let chatList = document.querySelector('.chat-list');
        chatList.scrollTop = chatList.scrollHeight;
      }
    </script>
  </body>
</html>
